

/*=============================
	Blog Area CSS
===============================*/

.blog-section-title {
	z-index: 2;
	position: relative;
}
.blog-section-title span {
	background: #fff;
	box-shadow: 0px 2px 10px #111a3a111a3a14;
}

.blog-section-title h3 {
	color: #fff;
	margin-top: 20px;
}

.blog-area {
	position: relative;
}

.blog-bg-pattern {
	position: relative;
	padding: 100px 0px;
}

.blog-bg-pattern::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 50%;
	top: 0;
	background: #00ab55;
}

.blog-bg-pattern::after {
	position: absolute;
	content: "";
	background-image: url('img/bg-pattern.png');
	width: 100%;
	height: 50%;
	top: 0;
	z-index: 1;
	opacity: 0.2;
}

.single-blog {
	border-radius: 5px;
	z-index: 2;
	position: relative;
	display: flex;
	justify-content: space-between;
	gap: 20px;
	background: #fff;
}

.single-blog:hover .blog-image img {
	transform: scale(1.2) rotate(4deg);
}

.blog-image {
	overflow: hidden;
	position: relative;
	border-radius: 5px 5px 0px 0px;
}

.blog-image img {
	border-radius: 5px 5px 0px 0px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
	position:relative;
	z-index:111a3a;
}
.blog-content {
	padding: 0;
	position: relative;
	z-index: 111a3a;
	padding: 15px;
}
.blog-top-meta {
}

.blog-top-meta li {
	display: inline-block;
	margin-right: 15px;
	font-size: 16px;
}
.blog-top-meta li:last-child {
	margin: 0;
}
.blog-btm-meta {
	display: flex;
	justify-content: normal;
	margin-top: 5px;
	border-top: 1px solid #cccccc69;
	padding-top: 15px;
	margin-top: 15px;
}
.blog-btm-meta i{
	margin-right:10px;
}
.blog-top-meta li i {
	margin-right: 8px;
	color: #00ab55;
}
.blog-img-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
	background: #ffffffd1;
	padding: 5px 20px;
	justify-content: space-between;
}
.blog-content .blog-title {
	margin-bottom: 10px;
}

.blog-content .blog-title a {
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	display: block;
	text-transform: capitalize;
}

.blog-content .blog-title a:hover {
	color: #00ab55;
}

.blog-button {
	float: right;
	text-align: right;
	float: right;
}

.blog-button a {
	text-decoration: underline;
	font-size: 14px;
	font-weight: 500;
}

.blog-page-area {
	padding: 70px 0px 100px;
}

.blog-slider .owl-controls .owl-nav {
	position: absolute;
	left: -84px;
	top: 50%;
	margin-top: -50px;
}
.blog-slider .owl-controls .owl-nav div {
	background: #00ab55 !important;
	width: 40px;
	height: 40px;
	line-height: 40px;
	padding: 0;
	margin: 0;
	font-size: 23px !important;
	display: block;
	margin-bottom: 10px;
}
.blog-slider .owl-controls .owl-nav div.owl-prev {
  
}
.blog-slider .owl-controls .owl-nav div.owl-next {
 
}

.post-date {
	top: 20px;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	border-radius: 4px;
	left: 20px;
	font-size: 13px;
}

.post-date span {
	display: block;
	font-size: 20px;
	font-weight: 600;
	margin-top: 5px;
	color: #00ab55;
}
.blog-button .theme-btn {
	padding: 10px 24px;
	color: #fff;
	font-weight: 700;
	text-decoration: none;
}
.blog-button .theme-btn:hover{
	background:#fff;
	color:#00ab55;
}
/* Blog Archives */
.blog-area.archives{}
.blog-area.archives .blog-button .theme-btn {
	padding: 9px 25px;
}
.blog-area.archives .blog-content .blog-title a {
	font-size: 20px;
}

/* Blog Sidebar */
.blog-sidebar {
	margin-top: 30px;
}
.blog-sidebar .single-sidebar ul,
.blog-sidebar .single-sidebar ul li{
	list-style:none;
	padding:0;
	margin:0;
}
.blog-sidebar .single-sidebar ul li:before{
	display:none;
}
.blog-sidebar .single-sidebar {
	margin-bottom: 30px;
}
.blog-sidebar .single-widget:last-child{
	margin:0;
}
/* Widget Title */
.blog-sidebar .sidebar-title {
    position: relative;
    font-size: 18px;
    text-transform: capitalize;
    display: block;
    margin-bottom: 12px;
    padding-bottom: 12px;
    margin-top: 0;
}
.blog-sidebar .sidebar-title::before {
    content: "";
    position: absolute;
    left: 0;
    width: 40px;
    height: 2px;
    bottom: 0;
    background: #00ab55;
	display: block;
}


/* Blog Search */
.blog-sidebar .blog_search {
	background: #00ab55;
	padding: 15px;
}
.blog-sidebar .blog_search form{
	position:relative;
}
.blog-sidebar .blog_search form label{
	width:100%;
}
.blog-sidebar .blog_search form input {
    width: 100%;
    height: 60px;
    box-shadow: none;
    text-shadow: none;
    font-size: 15px;
    border: none;
    color: #666;
    background: #fff;
    border-radius: 5px;
    padding: 0 35px 0 20px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 0px;
}
.blog-sidebar .blog_search button {
    position: absolute;
    right: 15px;
    top: 20px;
    box-shadow: none;
    text-shadow: none;
    text-align: center;
    border: none;
    font-size: 18px;
    color: #13A068;
    background: transparent;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.blog-sidebar .blog_search button:hover {
	color:#2E2751;
}

/* Blog News */
.single-f-news {
    position: relative;
    background: transparent;
    margin-bottom: 20px;
    box-shadow: none;
}
.single-f-news:last-child{
	margin:0;
}
.single-f-news img {
    height: 70px;
    width: 70px;
    display: block;
    position: absolute;
    border-radius: 100%;
    background: #fff;
    left: 0;
    top: 0;
    margin-top: 4px;
    padding: 5px;
}
.single-f-news .content {
	padding-left: 80px;
}
.single-f-news .title {
	font-size: 16px;
	font-weight: medium;
	line-height: 24px;
}
.single-f-news .title a {
    color: #2e2751;
}
.single-f-news .title:hover a{
	color:#00ab55;
}
.single-f-news .post-meta {
    margin-top: 5px;
    font-size: 13px;
}
.single-f-news .post-meta i{
	color:#00ab55;
	margin-right:5px;
}

/* Widget Tags*/
.blog-sidebar .tagcloud ul{
	margin-left:-5px;
}
.blog-sidebar .tagcloud ul li {
    display: inline-block;
    margin-top: 10px !important;
    margin-left: 5px;
}
.blog-sidebar .tagcloud a {
	color: #555;
	font-size: 14px !important;
	display: inline-block;
	padding: 8px 12px;
	background: #fff;
}
.blog-sidebar .tagcloud a:hover{
	background:#00ab55;
	color:#fff;
}
/* Tag */
.blog-sidebar .tagcloud a {
	background: #F4F9FC;
}
.blog-sidebar .tagcloud a:hover{
	background:#00ab55;
	color:#fff;
}

/* Subscribe */
.blog-sidebar .subscribe-form form{}
.blog-sidebar .subscribe-form form input{
    height: 54px;
    padding: 0 20px 0 20px;
    border: none;
    width: 100%;
    position: relative !important;
    font-size: 14px;
    border: 1px solid #ebebeb;
    line-height: 50px;
	border-radius:0px;
}
.blog-sidebar .subscribe-form form button {
	background: #00ab55;
	position: relative;
	border: none;
	box-shadow: none;
	padding: 12px 20px;
	text-align: center;
	display: block;
	margin-top: 10px;
	border-radius: 0px;
	cursor: pointer;
	color: #fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-weight: 600;
}
.blog-sidebar .subscribe-form form button:hover{
	background:#2E2751;
	color:#fff;
}


/* Blog Details */
.blog-details-area {
	background: #fff;
}

.blog-details-inner {
	margin-top: 30px;
}

.blog-detail-content {
	background: #fff;
	padding: 30px;
}
.blog-btm-meta .meta-btm{
	margin-right:10px;
}
.blog-btm-meta .meta-btm:last-child{
	margin:0;
}

li.page-item.active span {
    background: #00ab55;
    color: #fff;
    padding: 11px 19px;
    border-radius: 30px;
}

li.page-item.disabled span {
    border: 1px solid #ddd;
    padding: 10px 20px;
    border-radius: 30px;
}

.blog-d-head-img h1 {
	font-size: 32px;
	margin-bottom: 20px;
	font-weight: 600;
}
.blog-d-head-img img {
	border-radius: 5px;
}

.blog-d-head-title {
	margin-bottom: 30px;
}

.blog-single-meta {
	margin-bottom: 20px;
	border-bottom: 1px solid #00ab551A;
	padding-bottom: 15px;
}

.blog-single-meta li {
	display: inline-block;
	margin-right: 15px;
}

.blog-single-meta li:last-child {
	margin: 0;
}

.blog-single-meta li i {
	margin-right: 8px;
	color: #00ab55;
}

.blog-single-meta li,
.blog-single-meta li a {
	font-weight: 500;
	color:#666;
}

.blog-single-meta li a:hover {
	color: #00ab55
}

.blog-d-single-content {}

.blog-d-single-content blockquote {
	background: #EAF0FF;
	padding: 30px;
	position: relative;
}

.blog-d-single-content blockquote::before {
	position: absolute;
	content: "";
	left: 0;
	width: 3px;
	height: 100%;
	background: #00ab55;
	top: 0;
}

.blog-d-single-content blockquote i {
	position: absolute;
	right: 30px;
	font-size: 50px;
	opacity: 0.2;
	color: #00ab55;
	top: 30px;
}

.blog-d-single-content blockquote span {
	font-size: 17px;
	font-weight: 500;
}

.blog-d-single-content blockquote h3 {
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	margin-top: 10px;
}

.blog-d-img-widget {
	margin: 30px 0px;
}

.single-d-img-widget {
	position: relative;
	z-index: 2;
}

.single-d-img-widget img {
	border-radius: 4px;
}

.single-d-img-widget::before {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	background: #00ab55;
	opacity: 0;
	visibility: hidden;
	left: 0;
	bottom: 0;
	border-radius: 4px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	z-index: 2;
}

.single-d-img-widget::after {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	background: #00ab55;
	opacity: 0;
	visibility: hidden;
	right: 0;
	top: 0;
	border-radius: 4px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.single-d-img-widget:hover::before,
.single-d-img-widget:hover::after {
	opacity: 0.7;
	visibility: visible;
	width: 100%;
	height: 100%;
}

.single-d-img-widget .image-view {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50px;
	height: 50px;
	background: transparent;
	line-height: 50px;
	display: block;
	text-align: center;
	border-radius: 100%;
	margin-left: -25px;
	margin-top: -25px;
	border: 1px solid #fff;
	color: #fff;
	z-index: 22;
	transform: scale(0);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.single-d-img-widget .image-view:hover {
	color: #00ab55;
	background: #fff;
}

.single-d-img-widget:hover .image-view {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

.blog-d-content-list {
	margin-bottom: 30px;
	margin-top: 30px;
}

.blog-d-content-list h5 {
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 15px;
}

.blog-d-content-list li {
	margin-bottom: 10px;
	font-size: 16px;
}

.blog-d-content-list li:last-child {
	margin: 0;
}

.blog-d-content-list li i {
	font-size: 18px;
	color: #00ab55;
	margin-right: 5px;
}

.blog-d-content-middle {}

.blog-d-content-middle h3 {
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}

.blog-d-content-middle p {}

.blog-d-tag-widget {
	margin-top: 30px;
	background: #fbedd5;
	padding: 30px;
}
.blog-d-tag-title {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 20px;
}

.blog-d-tag-title i {
	margin-right: 8px;
	color: #00ab55;
}

.blog-d-tag-widget li {
	display: inline-block;
	margin-right: 10px;
}

.blog-d-tag-widget li:last-child {
	margin: 0;
}

.blog-d-tag-widget li a {
	padding: 8px 20px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #111a3a111a3a1f;
	display: block;
	font-size: 14px;
	color: #111a3a;
}

.blog-d-tag-widget li a:hover {
	background: #00ab55;
	color: #fff;
	border: 1px solid transparent;
}

.p-comment-title {
	margin-bottom: 30px;
}

.p-comment-title h3 {
	font-size: 25px;
	font-weight: 600;
	position: relative;
	padding-left: 40px;
	margin-bottom: 15px;
	border-bottom: 1px solid #00ab551A;
	padding-bottom: 15px;
}

.p-comment-title h3::before {
	position: absolute;
	content: "";
	width: 23px;
	height: 23px;
	background: #00ab55;
	border-radius: 4px;
	top: 8px;
	left: 0;
}

.p-comment-title h3::after {
	position: absolute;
	content: "";
	width: 7px;
	height: 7px;
	background: #fff;
	border-radius: 100%;
	top: 0;
	left: 0;
	margin-top: 16px;
	margin-left: 8px;
}


.p-comment-form .form-group {
	margin-bottom: 30px;
}

.p-comment-form .form-group input:hover,
.p-comment-form .form-group textarea:hover {
	border: 1px solid #00ab55;
}

.p-comment-form .form-group label {
	font-size: 14px;
	margin-left: 10px;
	color: #111a3a;
	font-weight: 500;
	margin-bottom: 10px;
}

.p-comment-form .form-group input {
	width: 100%;
	height: 55px;
	border: 1px solid #111a3a111a3a1f;
	background: transparent;
	padding: 10px 15px;
	border-radius: 3px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-weight: 500;
}

.p-comment-form .form-group textarea {
	width: 100%;
	height: 150px;
	border: 1px solid #111a3a111a3a1f;
	background: transparent;
	padding: 10px 15px;
	border-radius: 3px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-weight: 500;
}

.p-comment-save {
	position: relative;
	margin-bottom: 30px;
	display: flex;
}
.p-comment-save p {
	padding-left: 5px;
	color: #111a3a;
	font-weight: normal;
	font-size: 15px;
	display: inline-block;
}

.p-comment-save .checkbox-inline {
	bottom: 0;
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 5px;
}

.p-comment-save .checkbox-inline input {
	width: 30px;
	height: 30px;
	background: transparent;
	background: red;
	display: none;
}

.p-comment-save .checkbox-inline::before {
	position: absolute;
	color: #fff;
	content: "";
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	border: 2px solid #00ab55;
	background: #FFFFFF;
	border: 1px solid #00ab55;
	box-sizing: border-box;
	box-shadow: 0px 0px 0px 3px rgba(58, 122, 251, 0.16);
	border-radius: 4px;
}

.p-comment-save .checkbox-inline::after {
	position: absolute;
	color: #fff;
	content: "\f00c";
	left: 3px;
	top: 8px;
	font-family: "fontawesome";
	font-size: 10px;
	line-height: 0px;
	display: none;
}

.p-comment-save .checkbox-inline.checked:after {
	display: block;
}

.p-comment-save .checkbox-inline.checked::before {
	background: #5966F8;
}

.post-comment-btn {}

.button.theme-btn.primary {
	padding: 15px 20px;
}


/* Pagination */

.pagination-main {
	text-align: center;
}

.pagination {
	display: block;
	padding-left: 0;
	margin: 50px 0 0;
	border-radius: 4px;
	text-align: center;
}

.pagination li {
	display: inline-block;
	margin-right: 10px;
}

.pagination li:last-child {
	margin-right: 0px;
}

.pagination li a {
	background: #fff;
	border: none;
	display: block;
	width: 45px;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	color: #111a3a;
	border-radius: 3px;
	box-shadow: 0px 4px 10px #111a3a111a3a12;
	border-radius: 50px;
	border: 1px solid #cccccc82;
}

.pagination li:hover a {
	color: #fff;
	border-color: transparent;
}

.pagination li:hover a,
.pagination li.active a {
	border-color: transparent;
	-webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.10);
	box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.10);
}

.pagination li.prev a,
.pagination li.next a {
	font-size: 15px;
	text-align: center;
}

.pagination li.active a,
.pagination li:hover a {
	color: #fff !important;
	background: #00ab55 !important;
}
@media only screen and (min-width: 0) and (max-width: 991px) {
.single-blog {
	display: block;
}
}

/*=============================
	End Blog Area CSS
===============================*/