

/*======================================
   Start Shop Single CSS
========================================*/
.shop.single {
	padding: 40px 0 70px;
}
.product-gallery {
	margin-top: 30px;
}
.flexslider-thumbnails {
	position: relative;
}
 .product-gallery .slides li{
	position:relative;
}
.product-gallery .slides li img {
	max-height: 500px;
	width: 100%;
}
.shop.single .flex-control-nav{
	margin-top:15px;
	text-align: center;
}
.flex-control-thumbs li {
	width: 20%;
	position: relative;
	margin: 0 8px 10px -3px;
	display: inline-block;
	float: none;
}
.flex-control-thumbs li img {
	border: none;
	padding: 0;
	border: 1px solid #cccccc70;
	width: 102px;
	height: 102px;
	padding: 5px;
	border-radius: 100%;
}
 .flex-control-thumbs li img.flex-active{
	border-color:#00ab55;
}
.shop.single .product-des{
	margin-top:30px;
}
.product-detail-card.pr-card .food-img-content p {
	color: #fff;
}
.title-n-desc {
	max-width: 70%;
}
.title-n-desc h2 {
	font-size: 30px;
	font-weight: 700;
	line-height: 35px;
	margin-bottom: 10px;
}
.title-n-desc p {
	font-weight: 600;
}
.product-des .short .description {
	font-size: 14px;
	color: #555555;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}
.product-des {
	background: #fff;
	padding: 30px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
 .product-des .total-review {
	font-size: 14px;
	font-weight: 500;
	margin-left: 10px;
	display: inline-block;
	color: #00ab55;
}
.product-des .total-review:hover{
	color:#00ab55;
}
.product-des .rating {
	display: inline-block;
}
.product-des .rating li{
	display:inline-block;
}
.product-des .rating li i{
	color:#00ab55;
}
.product-des .rating li.dark i{
	color:#555;
}
.product-des .price {
	font-size: 20px;
	color: #111a3a;
	font-weight: 600;
	margin-top: 15px;
}
.product-des .price s{
	color:#111a3a;
}
.product-des .price span {
	display: inline-block;
	margin-right: 15px;
	color: #00ab55;
	font-size: 30px;
	font-weight: 700;
}
.product-buy {
	margin-top: 40px;
}
.product-des .color {
	display: inline-block;
	
}
.color_widget ul{
	margin-top: 10px;
}
.color_widget .single_color{
	display:inline-block;
	margin-right:5px;
}
.color_widget .single_color label{
	height:30px;
	width:30px;
	line-height:30px;
	text-align:center;
	display:block;
	background:#111a3a;
	cursor:pointer;
}
.color_widget .single_color{
	cursor:pointer;
}
.color_widget .single_color label i{
	font-size:11px;
	color:#fff;
	
	
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.color_widget .single_color label:hover i{
	opacity:1;
	visibility:visible;
}
.color_widget .single_color label.one{
	background: #181b1c;
	margin-top: 15px;
	margin-left: 10px;
	line-height: 50px;
	position: relative;
}

.color_widget .single_color label.one i {position: absolute;top: 37%;left: 34%;}

.color_widget .single_color label.two{
	background:#00ab55;
}
.color_widget .single_color label.three{
	background:#8e44ad;
}
.color_widget .single_color label.four{
	background:#2ecc71;
}
.color_widget .single_color input {
	opacity: 0;
	visibility: hidden;
	display: none;
}
/* Size */
.option-available {
	font-size: 20px;
}
 .product-des .size{
	display:inline-block;
}
.product-des h4 {
	display: block;
	font-size: 14px;
	font-weight: 500;
	margin-top: 0px;
}
 .product-des .size ul{
	display:inline-block;
	margin-top: 10px;
}

.product-des .size ul li {
	display: block;
	margin-right: 5px;
}
.product-des .size ul li:last-child{
	margin-right:0;
}
.product-des .size ul li a {
	display: block;
	height: 30px;
	width: 36px;
	border: 1px solid #eee;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
}
.product-des .size ul li a:hover{
	color:#00ab55;
}
.product-des .quantity {
	display: inline-block;
	margin-right: 10px;
}
.product-des .quantity h6 {
	display: inline-block;
	margin-right: 10px;
	font-size: 15px;
	font-weight: 500;
}
.product-des .quantity .input-group {
	width: 151px;
	display: inline-block;
}
.product-des .quantity .button {
	display: inline-block;
	position: absolute;
	top: 0;
	display:inline-block;
}
.product-des .quantity .button.minus{
	left:0;
	border-radius:0;
	overflow:hidden;
}
.product-des .quantity .button.plus {
	right: 0;
	border-radius:0;
	overflow:hidden;
}
.product-des .quantity .button .btn {
	padding: 0;
	width: 35px;
	height: 45px;
	line-height: 45px;
	border-radius: 0px;
	background: transparent;
	color: #282828;
	font-size: 12px;
	border: none;
}
.product-des .quantity .button .btn:hover{
	color:#00ab55;
}
.product-des .quantity .input-number {
	border: 1px solid #eceded;
	width: 100%;
	text-align: center;
	height: 45px;
	border-radius: 0px;
	overflow: hidden;
	padding: 0px 38px;
}
.product-des .add-to-cart {
	display:inline-block;
}
.product-des .add-to-cart .btn {
	height: 45px;
	width: auto;
	padding: 0 25px;
	line-height: 45px;
	text-align: center;
	text-transform: capitalize;
	margin-right: 5px;
	border-radius: 0px;
	background: #111a3a;
	color: #fff;
	display: inline-block;
	font-weight: 500;
}
.product-des .add-to-cart .btn:hover{
	color:#fff;
	background:#00ab55;
}
.product-des .add-to-cart .btn.min {
	padding: 0 20px;
	font-size: 17px;
	position: relative;
	top: 1px;
	line-height: 45px;
}
.product-des .cat{
	font-size: 14px;
	font-weight: 500;
	color:#111a3a;
	margin-top:10px;
}
.product-des .cat a {
	display: inline-block;
	margin-left: 10px;
	color: #00ab55;
}
.product-des .cat a:hover{
	color:#00ab55;
}
.wishlist_active{
	color:#fff !important;
	background-color: #00ab55 !important;
}
.product-des .availability{
	color:#111a3a;
	font-size:14px;
	margin-top:6px;
}
/* Product Tab */
.shop.single .product-info {
	margin-top: 50px;
}
.shop.single .nav-tabs {
	border: none;
	display: initial;
}
.shop.single .nav-tabs li {
	margin-right: 10px;
	display: inline-block;
}
.shop.single .nav-tabs li:last-child{
	margin-right:0;
}
.shop.single .nav-tabs li a {
	border: 0px solid;
	border-radius: 0px;
	background: #fff;
	color: #111a3a;
	padding: 10px 30px;
	font-weight: 500;
	font-size: 14px;
	border: 1px solid #eee;
}
.shop.single .nav-tabs li a i{
	margin-right:10px;
}
.shop.single .nav-tabs li a.active,
.shop.single .nav-tabs li:hover a{
	background:#00ab55;
	color:#fff;
	border-color:transparent;
}
.shop.single .single-des {
	margin-top:35px;
}
.shop.single .single-des h4{
	margin-bottom:15px;
	font-weight:500;
	font-size:22px;
	
}
.shop.single .single-des ul li {
	color: #555;
	display: block;
	margin-bottom: 10px;
	position:relative;
	padding-left:20px;
}
.shop.single .single-des ul li::before {
	position: absolute;
	content: "";
	left: 0;
	top: 9px;
	height: 7px;
	width: 7px;
	background: #f7941d;
	border-radius: 50%;
}
.shop.single .item-info {
	width: 100%;
}
.shop.single .item-info tbody td {
	border: 1px solid #e6e6e6;
	padding: 10px;
}
.shop.single .avg-ratting {
	margin-bottom: 20px;
}
.shop.single .avg-ratting h4 {
	font-size: 18px;
	margin: 0;
}
.shop.single .avg-ratting h4 span{
	font-size:14px;
}
.shop.single .single-rating {
	margin-bottom: 20px;
}
.shop.single .single-rating:last-child{
	margin:0;
	border:none;
	padding:0;
}
.shop.single .rating-author {
	float: left;
	margin-right: 10px;
	padding: 20px;
	padding-right: 10px;
}
.shop.single .rating-author img {
	width: 60px;
	border-radius: 100%;
	height: 60px;
}
.shop.single .rating-des {
	padding-left: 72px;
	background: #f9f8f8;
	padding: 17px 20px 17px 107px;
}
.shop.single .rating-des .ratings {
	margin: 0;
}
.shop.single .rating-des h6 {
	font-size: 15px;
	font-weight: 700;
	line-height: 18px;
}
.shop.single .ratting-main .single-rating ul li{
	display:inline-block;
}
.shop.single .ratting-main .single-rating ul li i{
	color:#00ab55;
	font-size:14px;
}
.shop.single .review-inner label {
	display: inline-block;
	margin: 0 5px 0 0;
}
.shop.single .review-inner .ratings {
	overflow: visible;
	display: inline-block;
	margin: 0;
}
.shop.single .review-inner .ratings ul{
	display:inline-block;
}
.shop.single .ratting-main .single-rating ul {
	display: inline-block;
	margin-right: 5px;
}
.shop.single .ratings .rate-count {
	display: inline-block;
	color: #666;
	font-size: 13px;
}
.shop.single .comment-review {
	margin-bottom: 30px;
}
.shop.single .comment-review .add-review{
	margin-top:30px;
}
.shop.single .comment-review .add-review h5{
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 7px;
}
.shop.single .comment-review .add-review p{
	color:#111a3a;
}
.shop.single .comment-review h4 {
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 7px;
	margin-top:20px;
}
.shop.single .comment-review .review-inner{
	margin-bottom:15px;
	display:block;
}
.shop.single .comment-review .rating li {
	display:inline-block;
}
.shop.single .comment-review .rating li i{
	color:#00ab55;
	font-size: 14px;
}
.shop.single .rating-des p{
	margin-top:5px;
}
.shop.single .avg-ratting h4 {
	font-size: 20px;
	color: #111a3a;
}
.shop.single .form .form-group input {
	width: 100%;
	height: 45px;
	padding: 10px 20px;
	background: #fff;
	border: 1px solid #ddd;
	resize: none;
	border-radius: 0;
	color: #111a3a;
}
.shop.single .form .form-group button {
	border: none;
	padding: 17px 50px;
}
.shop.single .form .form-group textarea {
	width: 100%;
	height:200px;
	padding: 20px;
	background:#fff;
	border:1px solid #ddd;
	resize:none;
	border-radius:0;
	color:#111a3a;
}
.shop.single .form .form-group label {
	color: #111a3a;
	position: relative;
}
.shop.single .form .form-group label span {
	color: #ff2c18;
	display: inline-block;
	position: absolute;
	right: -12px;
	top: 4px;
	font-size: 16px;
}
.shop.single .review-panel{
	margin-top:35px;
}
.product-detail-card {
	display: flex;
	justify-content: space-between;
}
.food-dt-img {
  width: 50%;
}
.food-img-content {
	width: 55%;
	background: #111a3aeb;
	height: initial;
	position: relative;
	left: -55px;
	top: 30px;
	padding: 40px;
	height: 40%;
}
.food-dt-button {
	margin-top: 15px;
}
.food-img-content h2 {
	color: #fff;
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 10px;
}
.food-img-content p {
	color: #ccc;
}

.product-detail-card.pr-card .food-img-content {
  background: #00ab55eb;
}
.product-detail-card.pr-card .theme-btn {
  background: #fff;
  color: #00ab55;
}
.flex-direction-nav .flex-prev::before {
	font-family: IcoFont;
	content: "\ea68";
}
.flex-direction-nav .flex-next::before {
	font-family: IcoFont;
	content: "\ea69";
}
.option-colors {
	/* display: flex; */
	/* align-items: center; */
	margin-bottom: 10px;
}


.rating-author {
  float: left;
  margin-right: 10px;
  padding: 20px;
  padding-right: 10px;
}

.rating-author img {
  width: 60px;
  border-radius: 5px;
  height: 60px;
}

.rating-des {
  padding: 30px 30px 30px 100px;
  border-radius: 4px;
  border: 1px solid #eee;
}

.rating-des .ratings {
  margin: 0;
}

.rating-des h6 {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}


.ratting-main .single-rating ul li {
  display: inline-block;
}

.ratting-main .single-rating ul li i {
  
  font-size: 14px;
}

.review-inner label {
  display: inline-block;
  margin: 0 5px 0 0;
}

.review-inner .ratings {
  overflow: visible;
  display: inline-block;
  margin: 0;
}

.review-inner .ratings ul {
  display: inline-block;
}

.ratting-main .single-rating ul {
  display: inline-block;
  margin-right: 5px;
}

.ratings .rate-count {
  display: inline-block;
  color: #666;
  font-size: 13px;
}

.comment-review {
  margin-bottom: 30px;
}

.comment-review .add-review {
  margin-top: 30px;
}

.comment-review .add-review h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 7px;
}

.comment-review .add-review p {
  color: #111a3a;
}

.comment-review h4 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 7px;
  margin-top: 20px;
}

.comment-review .review-inner {
  margin-bottom: 15px;
  display: block;
}

.comment-review .rating li {
  display: inline-block;
}

.comment-review .rating li i {
  color: var(--primary);
  font-size: 14px;
}

.rating-des p {
  margin-top: 5px;
}

 .avg-ratting h4 {
  font-size: 20px;
  color: #111a3a;
}

.reviews-panel .form .form-group input {
  width: 100%;
  height: 45px;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #ddd;
  resize: none;
  border-radius: 0;
  color: #111a3a;
  border-radius: 4px;
  margin-top: 10px;
}

.reviews-panel .form .form-group button {
  border: none;
  padding: 17px 50px;
}

.reviews-panel .form .form-group textarea {
  width: 100%;
  height: 200px;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  resize: none;
  border-radius: 0;
  color: #111a3a;
  border-radius: 4px;
  margin-top: 10px;
}
.reviews-panel .rating-main .rating {
	margin: 0;
}
.reviews-panel .form .form-group label {
  color: #111a3a;
  position: relative;
}

.reviews-panel .form .form-group label span {
  color: #ff2c18;
  display: inline-block;
  position: absolute;
  right: -12px;
  top: 2px;
  font-size: 16px;
}
.reviews-panel .form .form-group.button {
  margin-top: 30px;
}

.reviews-panel .review-panel {
  margin-top: 35px;
}


.ratting-main {
  background: #fff;
}
.avg-ratting {
  padding: 20px;
  margin-bottom: 20px;
}
.ratting-main {
	margin-top: 30px;
}

.latest-home-tabs.single #list-tab li a ul li a {
  border-radius: 3px;
}
.latest-home-tabs.single #list-tab li a {
  border-radius: 3px;
}
.latest-home-tabs.single {
  margin-bottom: 20px;
}

.related-slider .owl-controls .owl-dots .owl-dot span {
  background: #111a3a;
  width: 12px;
  height: 12px;
  line-height: 12px;
}
.related-slider .owl-controls .owl-dots .owl-dot.active span {
  background: #00ab55;
}
.related-slider .owl-controls .owl-dots {
  margin-top: 30px;
}
.product-detail-card {
	margin-top: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
.flex-control-thumbs li img {
	width: 60px;
	height: 60px;
}
.title-n-desc h2 {
	font-size: 24px;
}
.size .nice-select {
	padding: 0 30px;
}
.product-detail-card {
	display: block;
	position:relative;
}
.food-img-content {
	position: absolute;
	bottom: 0;
	height: 100%;
}
.food-dt-img, .food-img-content {
	width: 100%;
	left: 0;
	top: 0;
}
.food-img-content {
	position: absolute;
	bottom: 0;
}
.product-des .add-to-cart{
	margin-top:15px;
}
}

@media only screen and (max-width:767px) {
.title-n-desc{
	width:100%;
	max-width:100%;
}
.title-n-desc h2 {
	font-size: 24px;
	line-height: 28px;
}
.flex-control-thumbs li img {
	height: initial;
}
.color_widget .single_color {
	cursor: pointer;
	margin-top: 5px;
}
.color_widget .single_color label {
	height: 20px;
	width: 20px;
	line-height: 30px;
}
.product-des .quantity{
	margin-bottom:15px;
}
.product-des .add-to-cart .btn {
	padding: 0 18px;
}
.product-des .add-to-cart .btn.min {
	padding: 0 12px;
}
.product-detail-card {
	display: block;
	position:relative;
}
.food-img-content {
	position: absolute;
	bottom: 0;
	height: 100%;
}
.food-dt-img, .food-img-content {
	width: 100%;
	left: 0;
	top: 0;
}
.food-img-content {
	position: absolute;
	bottom: 0;
}
}
/*======================================
   End Shop Single CSS
========================================*/
